ul#results {
	list-style-type: none;
}

#results li {
	margin-top: 1em;
	margin-bottom: 1em;
}

.calculator {
	width: 40em;
	margin: 0 auto;
}

#results kbd {
	display: block;
}

#input {
	margin-top: 1.5em;
	width: 100%;
}