ul#results {
	list-style-type: none;
}

#results li {
	margin-top: 1em;
	margin-bottom: 1em;
}

.calculator {
	width: 40em;
	margin: 0 auto;
}

#results kbd {
	display: block;
	font-family: Consolas, Inconsolata, monospace;
	
}

#input {
	margin-top: 1.5em;
	width: 100%;
}

#input-wrapper button { display: none; }

#_version_ {
    position: absolute;
    bottom: .33em;
    right: 0.5em;
    font-family: Consolas, Inconsolata, monospace;
    color: #777;
    font-size: 75%;
}